tenancy_ocid             = <tenancy ID>
user_ocid                = <IAC USER ID>
private_key_path         = <PRIVATE KEY PATH FOR IAC USER'S API PUBLIC KEY>
fingerprint              = <fingerprint for key above>
region                   = <tenancy region>
compartment_name         = <compartment for this resource>
vcn_name                 = <VCN name>
k8s_name                 = <OKE name>
k8s_version              = <desired k8s version>
oke_subnet_cidr          = <OKE resides subnet>
k8s_pods_cidr            = <pod cidr inside of OKE>
k8s_services_cidr        = <k8s service cidr inside of OKE>
node_pool_name           = <node pool name for this OKE>
node_arch                = <node architecture, AARCH64 or X86_64>
node_ssh_public_key_path = <public key path for ssh to node> 

